.build_script/**
.DS_Store
.Editor/**
.gitattributes
.gitignore
.gitlab-ci.yml
.npmignore
.npmrc
.yamato/**

*.zip*

TestProject~/
TestProject~/**
artifacts/**
automation/**
build.bat
build.bat.meta
build.sh
build.sh.meta
build/**
CONTRIBUTING.md
CONTRIBUTING.md.meta
Documentation/ApiDocs/**
Documentation~/ApiDocs/**
node_modules/**
packages.json
packages.json.meta
QAReport.md
QAReport.md.meta
utr_output/**
